<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<body>
<header>
    <nav class="navbar">
        <div class="logo" >
            <img src="design/Logo_NFT_PALACE.png" alt="Logo">
        </div>
        <input class="input" type="text" placeholder="Buscá aquí">
        <div class="navbar-menu">
            <ul class="navbar-categorias">
                <li><a href="#"> Inicio </a></li>
                <li><a href="#"> Categorias </a></li>
                <li><a href="#"> Social </a></li>
            </ul>
            <ul class="navbar-register">
                <li><a href="/views/login.html"><i class="fab fa-reddit-alien"></i>Inicia Sesion </a></li>
                <li><a href="/views/register.html"><i class="fas fa-fingerprint"></i>Registrate</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section>
        <h1>
            TOP 5
        </h1>
        <!--slider con 5 fotos-->
    </section>
    <section>
        <h2>
            Categorias Principales
        </h2>
        <div>
            <!--5 imagenes con su respectivo titulo de categoria-->
        </div>
    </section>
    <section>
        <h2>
            Social
        </h2>
        <div>
            <!--Imagenes con titulo y subtitulos con nombre del creador, una breve descripcion y el precio-->
        </div>
        <div>
            <h2>
                TOP 5 Artistas
            </h2>
        </div>
        <div>
            <h2>
                TOP 5 Coleccionistas
            </h2>
        </div>
    </section>
</main>
<footer>
    <div class="footer-redes">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li> 
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>
        </ul>
    </div>
    <div>
        <p>Copyright 2023</p>
    </div>
    <div>
        <p>Newsletter etc</p>
        <input type="text" placeholder="Ingresá tu email">
        <button></button>
    </div>
</footer>


</body>

</html>