<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo" >
                <img src="/public/design/Logo_NFT_PALACE.png" alt="Logo">
            </div>
            <input class="input" type="text" placeholder="Buscá aquí">
            <div class="navbar-register"> 
                <ul>
                    <li><a href="/views/login.html">Inicia Sesion </a></li>
                    <li><a href="/views/register.html">Registrate </a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar-menu">
            <ul class="navbar-categorias">
                <li><a href="/views/index.html"> Inicio </a></li>
                <li><a href="/views/index.html"> Categorias </a></li>
                <li><a href="/views/index.html"> Social </a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <section class="contenedor-banner">
            <div>
                <img src="/public/design/banner1-nft.jpg" alt="NFTs">
            </div>
            <div style="text-align: center;">
                <a class="boton-registro" href="/views/register.html"><button> Registrate </button></a>
            </div>
        </section>
        <!-- intento de slider, en css tambien hay comentario 
        <section class="slider-container">
            <div class="slider position">
            </div>
        </section> //-->
        <section class="categorias">
            <h2>
                Categorias Principales
            </h2>
            <div class="categorias-principales">
                <div class="categoria-flex">
                    <div>
                        <p>Arte</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/art3.png" alt=""></a>
                    </div>
                </div>
                <div class="categoria-flex">
                    <div>
                        <p>Cat</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/cat 1.png" alt=""></a>
                    </div>
                </div>
                <div class="categoria-flex">
                    <div>
                        <p>Bull</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/bull4.png" alt=""></a>
                    </div>
                </div>
                <div class="categoria-flex">
                    <div>
                        <p>Ape</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/monkeyzombie7.png" alt=""></a>
                    </div>
                </div>
                <div class="categoria-flex">
                    <div>
                        <p>Human</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/human3d5.png" alt=""></a>
                    </div>
                </div>
                <div class="categoria-flex">
                    <div>
                        <p>Alien</p>
                    </div>
                    <div>
                        <a href=""><img src="/public/design/Alien 3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="social">
            <h2>
                Social
            </h2>
            <div class="social-flex">
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 1.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT</button></a>
                    <a class="boton-comprar" href="/views/productDetail.html"><button> Comprar </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art1.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT</button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d1.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 2.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie2.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art2.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d2.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 3.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie3.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art3.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d5.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 4.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie4.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art4.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d6.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 5.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie5.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art5.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d7.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 6.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie6.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art6.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/human3d8.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 7.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/monkeyzombie8.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art8.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/cat 1.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/bull2.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/cat 4.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/bull3.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/art8.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/bull6.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/cat 5.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/cat 6.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/bull7.png" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 6.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 6.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 6.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article> 
            <article class="main-article-nft">
                <div>
                    <img src="/public/design/Alien 6.jpg" alt="NFT">
                </div>
                <div class="precio-desc">
                    <p class="precio">1 ETH</p>
                    <p class="creador">Creador: Lionel Messi</p>
                    <p class="titulo">NFT Messi</p>
                    <a href=""><button> Ver NFT </button></a>
                </div>
            </article>
            </div>
        </section>
    </main>
    <footer class="footer-menu">
        <div class="menu-footer">
            <div class="menu-footer-izquierda">
                <h4> Redes Sociales</h4>
                <div class="social-iconos">
                    <a href="#"><i class="fab fa-facebook-square"></i></a> 
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                </div>
                <div class="copyright"> © 2022-Present. NFTPALACE. All rights reserved.
                </div>
            </div>
            <div class="menu-footer-derecha">
                <h4>Links rapidos</h4>
                <ul>
                    <li> <a href="/views/index.html" rel="Home">Home</a></li>
                    <li><a href="/views/login.html" rel="loggin">Ingresar </a></li>
                    <li><a href="/views/register.html" rel="register"></a> Registrarse</li>
                    <li><a href="https://www.binance.com/es-LA" rel="Binance"></a> Binance</li>
                    <li><a href="https://metamask.io/" rel="Metamask"></a>Metamask</li>
                    <li><a href="/views/productCart.html" rel="Carrito"></a>Cart</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/popUp.js"></script>
</body>
</html>