<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Cart</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/productCart.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/footer.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo" >
                <img src="/public/design/Logo_NFT_PALACE.png" alt="Logo">
            </div>
            <input class="input" type="text" placeholder="Buscá aquí">
            <div class="navbar-register"> 
                <ul>
                    <li><a href="/views/login.html">Inicia Sesion </a></li>
                    <li><a href="/views/register.html">Registrate </a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar-menu">
            <ul class="navbar-categorias">
                <li><a href="/views/index.html"> Inicio </a></li>
                <li><a href="/views/index.html"> Categorias </a></li>
                <li><a href="/views/index.html"> Social </a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <div class="NFT">
            <div class="card">
                <img src="/public/design/nftpizza.jpg" alt="">
            </div>
            <div class="informacion">
                <h1> Pizza Boy </h1>
                <p class="Creador"> @darianpvlk</p>
            </div>
            <div class="precio">
                <div class="box-precio">
                    <span class="precio1"><strike> 1.5 ETH </strike></span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>