<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Cart</title>
    <link rel="stylesheet" href="/public/css/styles.css">     
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">    
</head>

<body>

    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/views/index.html">
                    <img src="/public/design/Logo_NFT_PALACE.png" alt="Logo">
                </a>
            </div>
            <input class="input" type="text" placeholder="Buscá aquí">
            <div class="navbar-register"> 
                <ul>
                    <li><a href="/views/login.html">Inicia Sesion </a></li>
                    <li><a href="/views/register.html">Registrate </a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar-menu">
            <ul class="navbar-categorias">
                <li><a href="/views/index.html"> Inicio </a></li>
                <li><a href="/views/index.html"> Categorias </a></li>
                <li><a href="/views/index.html"> Social </a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main class="main">

        <section class="contenedorUno">
            <article class="productoUno">
                <div class="alien">
                    <img class="imagen" src="/public/design/Alien 1.jpg" alt="producto">                
                    <h4 class="h4-2">Alien</h4>              
                </div> 
                <p class="descripcion">"Lionel Messi, alien creado por NFT Place. Edición ilimitada"</p>
                <p class="cantidad">Cantidad</p>                
                <p class="precio">$ 1010</p>
                <p class="cancelar"><button class="login-form-submit" type="submit">Cancelar</button></p>   
            </article>

            <article class="productoDos">
                <div class="bull">
                    <img class="imagen" src="/public/design/bull1.png" alt="producto">
                    <h4 class="h4-2">Bull</h4>                 
                </div>
                <p class="descripcion">"Lionel Messi, Bull creado por NFT Place. Edición ilimitada"</p>
                <p class="cantidad">Cantidad</p>                 
                <p class="precio">$ 1010</p>
                <p class="cancelar">
                    <button class="login-form-submit" type="submit">Cancelar</button>
                </p>    
            </article>

            <article class="productoTres">
                <div class="cat">
                    <img class="imagen" src="/public/design/cat 1.png" alt="producto">
                    <h4 class="h4-2">Cat</h4>
                </div>
                <p class="descripcion">"Lionel Messi, Cat creado por NFT Place. Edición ilimitada"</p>
                <p class="cantidad">Cantidad</p>                 
                <p class="precio">$ 1010</p>
                <p class="cancelar"><button class="login-form-submit" type="submit">Cancelar</button></p>        
            </article>

            <article class="productoCuatro">
                <div class="humano">
                    <img class="imagen" src="/public/design/human3d1.png" alt="producto">
                    <h4 class="h4-2">Humano</h4>
                </div> 
                <p class="descripcion">"Lionel Messi, Humano creado por NFT Place. Edición ilimitada"</p>
                <p class="cantidad">Cantidad</p>                 
                <p class="precio">$ 1010</p>
                <p class="cancelar"><button class="login-form-submit" type="submit">Cancelar</button></p>    
            </article>

            <article class="productoCinco">
                <div class="monkey">
                    <img class="imagen" src="/public/design/monkeyzombie1.png" alt="producto">
                    <h4 class="h4-2">Monkey-Zombie</h4>
                </div>
                <p class="descripcion">"Lionel Messi, Monkey-Zombie creado por NFT Place. Edición ilimitada"</p>
                <p class="cantidad">Cantidad</p>                 
                <p class="precio">$ 1010</p>
                <p class="cancelar"><button class="login-form-submit" type="submit">Cancelar</button></p>      
            </article>

            <article class="productoSeis">
                <div class="robot">
                    <img class="imagen" src="/public/design/robot1.png" alt="producto">
                    <h4 class="h4-2">Robot</h4>
                </div> 
                    <p class="descripcion">"Lionel Messi, Robot creado por NFT Place. Edición ilimitada"</p>
                    <p class="cantidad">Cantidad</p>                 
                    <p class="precio">$ 1010</p>
                    <p class="cancelar"><button class="login-form-submit" type="submit">Cancelar</button></p>   
            </article>

            <div class="agregarMasProductos">                    
                <button class="login-form-submit" type="submit">Agregar más productos</button>
            </div>

        </section>

        <section class="contenedorDos">
            <div class="logo2">
                <img src="/public/design/Logo_NFT_PALACE.png" alt="Logo">
                <div class="detalle">
                    <p class="nft-en-proceso">Producto 1</p>
                    <p class="valor">$ 1010</p>
                    <p class="nft-en-proceso">Producto 2</p>
                    <p class="valor">$ 1010</p>
                    <p class="nft-en-proceso">Producto 3</p>
                    <p class="valor">$ 1010</p>
                </div>
            </div>

            <div class="probando">                  
                <div class="comprar">
                    <a href="#">Comprar</a>
                </div>
                <div class="cancelar2">
                    <a href="#">Cancelar</a>
                </div>
            </div>

        </section>

    </main>

</body>

<footer class="footer-menu">
        <div class="menu-footer">
            <div class="menu-footer-izquierda">
                <h3> Redes Sociales</h3>
                <div class="social-iconos">
                    <a href="#"><i class="fab fa-facebook-square"></i></a> 
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></i></a>
                </div>
                <div class="copyright"> 
                    <p>© 2022-Present. NFTPALACE. All rights reserved.</p>
                </div>
            </div>
            <div class="menu-footer-derecha">
                <h3>Links rapidos</h3>
                <ul>
                    <li> <a href="/views/index.html" rel="Home">Home</a></li>
                    <li><a href="/views/login.html" rel="loggin">Ingresar </a></li>
                    <li><a href="/views/register.html" rel="register"></a> Registrarse</li>
                    <li><a href="https://www.binance.com/es-LA" rel="Binance"></a> Binance</li>
                    <li><a href="https://metamask.io/" rel="Metamask"></a>Metamask</li>
                    <li><a href="/views/productCart.html" rel="Carrito"></a>Cart</li>
                </ul>
            </div>
        </div>
    </footer>
    
</html>