<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo" >
                <img src="/public/design/Logo_NFT_PALACE.png" alt="Logo">
            </div>
            <input class="input" type="text" placeholder="Buscá aquí">
            <div class="navbar-register"> 
                <ul>
                    <li><a href="/views/login.html">Inicia Sesion </a></li>
                    <li><a href="/views/register.html">Registrate </a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar-menu">
            <ul class="navbar-categorias">
                <li><a href="/views/index.html"> Inicio </a></li>
                <li><a href="/views/index.html"> Categorias </a></li>
                <li><a href="/views/index.html"> Social </a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
</body>

</html>