<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

</body>
<footer class="footer-menu">
    <div class="menu-footer">
        <div class="menu-footer-izquierda">
            <h4> Redes Sociales</h4>
            <div class="social-iconos">
                <a href="#"><i class="fab fa-facebook-square"></i></a> 
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></i></a>
            </div>
            <div class="copyright"> © 2022-Present. NFTPALACE. All rights reserved.
            </div>
        </div>
        <div class="menu-footer-derecha">
            <h4>Links rapidos</h4>
            <ul>
                <li> <a href="/views/index.html" rel="Home">Home</a></li>
                <li><a href="/views/login.html" rel="loggin">Ingresar </a></li>
                <li><a href="/views/register.html" rel="register"></a> Registrarse</li>
                <li><a href="https://www.binance.com/es-LA" rel="Binance"></a> Binance</li>
                <li><a href="https://metamask.io/" rel="Metamask"></a>Metamask</li>
                <li><a href="/views/productCart.html" rel="Carrito"></a>Cart</li>
            </ul>
        </div>
    </div>
</footer>
</html>