footer{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.menu-footer{
    display: flex;
}

h4{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #feac00;
    font-family: 'Bakbak One', regular;
    letter-spacing: 1px;
}

.menu-footer-izquierda {
    width: 50%;
}

.social-iconos{
    padding: 20px;
    padding-left: 0%;
}

.social-iconos a {
    padding-right: 20px;
}

.copyright{
    font-size: 14px;
}

.menu-footer-derecha {
    width: 50%;
}

.menu-footer-derecha{
    padding-left: 20px;
}

.footer-menu ul li {
    list-style-type: none;
    font-size: 14px;
}

.h4 ul{
    padding: 20px;
    padding-left: 0;
}


