.logo {
    max-width: 250px;
    min-width: 200px;
    align-items:flex-start;
    padding: 20px;
    width: 30%;

}

header{
    font-family: 'Bakbak One', regular;
    text-decoration: none;
    background-color: black;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #feac00;;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-menu{
    display: none;
}

.navbar-register{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar-register ul li a {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: 16px;
}

.input{
    display: flex;
    align-items: center;
    height: 24px;
}

/* Media Queries */

@media (min-width: 769px){
    .logo, .input, .navbar-register{
        width: 25%;
    }
    .burger-menu {
        display: none;
    }
    .navbar-menu {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        padding-bottom: 10px;
       }
    
    .navbar-menu ul {
        display: flex;
        justify-content: space-around;
        width: 45%;
        font-size: 25px;
        max-width: 400px;
        padding-bottom: 10px;
    }
}

@media (min-width: 940px) {

}