.logo {
    max-width: 250px;
    min-width: 200px;
    align-items:flex-start;
    padding: 20px;
    width: 30%;

}

header{
    font-family: 'Bakbak One', regular;
    text-decoration: none;
    background-color: black;
}

p{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-menu{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    max-width: 700px;

}

.navbar-menu ul{
    justify-content: space-around;
    flex-direction:column;
    width: 45%;
    font-size: 17px;
    max-width: 400px;
    padding: 10px;

}

.navbar-menu ul li {
    padding: 3px;
}

.input{
    display: flex;
    align-items: center;
    height: 24px;
}