*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bakbak One'
}

body {
    background-color: #000000;
}

/*-------------------- M A I N --------------------*/

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    max-width: 95%;
    background-color: #000000;
    color: white;
}

.contenedorUno {
    display: flex;
    flex-direction: column;    
    width: 50%;
}

.h4-2 {
    display: flex;
    align-self: flex-end;
    text-align: center;
    font-family: 'Bakbak One';
    color: #c2c3c5;
    font-size: 16px;
    padding-top: 5px; 
    font-style: italic;   
}

p {
    font-family: 'bakbak One';
    color: white;
    font-size: 12px;
}

.producto {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 45px 45px 30px;
    border: solid 2px #f9005e;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    
}

.efecto:hover {
    display: flex;
    box-shadow: 0px 0px 10px white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agregarMasProductos {
    position: relative;
    left: 45%;
}

.imagen {
    width: 150px;
    height: 150px;
    border: solid 3px #feac00;
    border-radius: 10px;
    
}

/* .alien , .bull, .cat, .humano, .monkey, .robot{


} */


.descripcion {
    display: flex;    
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 20%;
}


.cantidad {
    display: flex;    
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: end;
}

.precio {
    display: flex;    
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: end;
}

.cancelar{
    display: flex;    
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: end;
}

.contenedorDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;    
    border: solid 2px #f9005e;
    padding: 45px;
}

.logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    min-width: 200px;    
    padding-top: 50%;
}

.nft-en-proceso, .valor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10%;
}

.detalle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    margin: auto;
}

.probando {
    display: flex;
    flex-direction:column;    
    
    text-align: center;
}

.paso-final {
    display: flex;
    flex-direction: column;
    margin: 25px;
    

}


/* ------------------- M E D I A    Q U E R Y ------------------- */


@media (min-width: 769px) and (orientation: landscape)  {      /*Desktop*/
    
    .logo, .input, .navbar-register{
        width: 25%;
    }
    .burger-menu {
        display: none;
    }
    .navbar-menu {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-menu ul {
        display: flex;
        justify-content: space-around;
        width: 45%;
        font-size: 25px;
        max-width: 400px;
        padding-bottom: 10px;
    }


}