
.register-section {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border: none;
    border-radius: 10px !important;
}

.register-form {
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

form p input {
    width: 50%;
    height: 10px;
    text-align: center;
}

form p label {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Bakbak One';
    margin: 20px;
    color: white;
}

form div {
    padding: 12px;
    margin-bottom: 10px;
}

.register-welcome-text {
    text-align: center;
    font-size: 26px;
    font-family: 'Bakbak One';
    margin: 20px;
    color: white;
    margin-bottom: 30px;
}



input:focus,
textarea:focus {
    outline: 3px solid #feac00;
}

