@import url(normalize.css);
@import url(normalizePersonal.css);
@import url(header.css);
@import url(footer.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 100vw;
    background-color: black;
    color: white;
}

.social h2{
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

.social-flex {
    display: flex;
    flex-wrap: wrap;
}

.social-flex li {
    width: 100%;
}

.main-article-nft{
    min-width: 200px;
    max-width: 100%;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.main-article-nft img{
    filter: brightness(0.5);
}

.precio, .creador, .titulo {
    margin-left: 10px;
    padding: 3px;
    font-weight: bold;
}

.precio-desc{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

