<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio NFT Palace </title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<footer class="footer-menu">
    <div class="menu-footer">
        <div class="menu-footer-izquierda">
            <h3> Redes Sociales</h3>
            <div class="social-iconos">
                <a href="#"><i class="fab fa-facebook-square"></i></a> 
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></i></a>
            </div>
            <div class="copyright"> 
                <p>© 2022-Present. NFTPALACE. All rights reserved.</p>
            </div>
        </div>
        <div class="menu-footer-derecha">
            <h3>Links rapidos</h3>
            <ul>
                <li> <a href="/src/views/index.html" rel="Home">Home</a></li>
                <li><a href="/src/views/login.html" rel="loggin">Ingresar </a></li>
                <li><a href="/src/views/register.html" rel="register"></a> Registrarse</li>
                <li><a href="https://www.binance.com/es-LA" rel="Binance"></a> Binance</li>
                <li><a href="https://metamask.io/" rel="Metamask"></a>Metamask</li>
                <li><a href="/src/views/productCart.html" rel="Carrito"></a>Cart</li>
            </ul>
        </div>
    </div>
</footer>