<header>
    <div class="navbar">
        <div class="logo">
            <a href="/src/views/index.html">
                <img src="/public/img/Logo_NFT_PALACE.png" alt="Logo">
            </a>
        </div>
        <input class="input" type="text" placeholder="Buscá aquí">
        <div class="navbar-register"> 
            <ul>
                <li><a href="/src/views/login.html">Inicia Sesion </a></li>
                <li><a href="/src/views/register.html">Registrate </a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar-menu">
        <ul class="navbar-categorias">
            <li><a href="/src/views/index.html"> Inicio </a></li>
            <li><a href="/src/views/index.html"> Categorias </a></li>
            <li><a href="/src/views/index.html"> Social </a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>