<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio NFT Palace </title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="/src/views/index.html">
                <img src="/public/img/Logo_NFT_PALACE.png" alt="Logo">
            </a>
        </div>
        <input class="input" type="text" placeholder="Buscá aquí">
        <div class="navbar-register"> 
            <ul>
                <li><a href="/src/views/login.html">Inicia Sesion </a></li>
                <li><a href="/src/views/register.html">Registrate </a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar-menu">
        <ul class="navbar-categorias">
            <li><a href="/src/views/index.html"> Inicio </a></li>
            <li><a href="/src/views/index.html"> Categorias </a></li>
            <li><a href="/src/views/index.html"> Social </a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>