
<main>
    <section class="contenedor-banner">
        <div>
            <img src="/public/img/banner1-nft.jpg" alt="NFTs">
        </div>
        <div style="text-align: center;">
            <a class="boton-registro" href="/src/views/register.html"><button> Registrate </button></a>
        </div>
    </section>
    <section class="categorias">
        <h2>
            Categorias Principales
        </h2>
        <div class="categorias-principales">
            <div class="categoria-flex">
                <h3>Arte</h3>
                <a href=""><img src="/public/img/art3.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Cat</h3>
                <a href=""><img src="/public/img/cat 1.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Bull</h3>
                <a href=""><img src="/public/img/bull4.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Ape</h3>
                <a href=""><img src="/public/img/monkeyzombie7.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Human</h3>
                <a href=""><img src="/public/img/human3d5.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Alien</h3>
                <a href=""><img src="/public/img/Alien 2.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <section class="social">
        <h2>
            Social
        </h2>
        <div class="social-flex">
        <article class="main-article-nft">
            <div>
                <img src="/public/img/nftpapafrita.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href="/src/views/productDetail.html"><button> Ver NFT</button></a>
                <a class="boton-comprar" href="/src/views/productDetail.html"><button> Comprar </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art1.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT</button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d1.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/Alien 2.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie2.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art2.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d2.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/nfttostada.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie3.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art3.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d5.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/Alien 4.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie4.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art4.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d6.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/Alien 5.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie5.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art5.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d7.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/Alien 6.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie6.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art6.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/human3d8.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/Alien 7.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/monkeyzombie8.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art8.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/cat 1.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/bull2.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/cat 4.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/bull3.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/art8.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/bull6.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/cat 5.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/cat 6.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/bull7.png" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/dibujo.astronauta.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/nftpizza.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/dibujo.panda.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article> 
        <article class="main-article-nft">
            <div>
                <img src="/public/img/nfthelado.jpg" alt="NFT">
            </div>
            <div class="precio-desc">
                <p class="precio">1 ETH</p>
                <p class="creador">Creador: Lionel Messi</p>
                <p class="titulo">NFT Messi</p>
                <a href=""><button> Ver NFT </button></a>
            </div>
        </article>
        </div>
    </section>
</main>