<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio NFT Palace </title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<main>
    <section class="contenedor-banner">
        <div>
            <img src="/public/img/banner1-nft.jpg" alt="NFTs">
        </div>
        <div style="text-align: center;">
            <a class="boton-registro" href="/src/views/register.html"><button> Registrate </button></a>
        </div>
    </section>
    <section class="categorias">
        <h2>
            Categorias Principales
        </h2>
        <div class="categorias-principales">
            <div class="categoria-flex">
                <h3>Arte</h3>
                <a href=""><img src="/public/img/art3.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Cat</h3>
                <a href=""><img src="/public/img/cat 1.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Bull</h3>
                <a href=""><img src="/public/img/bull4.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Ape</h3>
                <a href=""><img src="/public/img/monkeyzombie7.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Human</h3>
                <a href=""><img src="/public/img/human3d5.png" alt=""></a>
            </div>
            <div class="categoria-flex">
                <h3>Alien</h3>
                <a href=""><img src="/public/img/Alien 2.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <section class="social">
        <h2> Social</h2>
        <ul>
            <% for(let i=0; i < allProducts.lenght; i++) {%>
                <li>
                    <article>
                        <img src=<%= allProducts[i].img%> alt="img">
                    </article>
                </li>
            <%}%>    
        </ul>   
        </div>
    </section>
</main>